// Font Family
$font-1: 'Lato', sans-serif;
$font-2: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #2E2E2E;
$gray:#f7f7fd;


// Theme Color
$theme-color: #361CC1;


//Body Color
$body-color: #6A6972;


// Border Color
$border-color: #E1E1E1;


// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$xl-desktop: 'only screen and (min-width: 1921px)';
$desktop: 'only screen and (min-width: 1400px) and (max-width: 1920px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


